<p style="color: green"><%= notice %></p>

<%= render @store_room_entry %>

<div>
  <%= link_to "Edit this store room entry", edit_store_room_entry_path(@store_room_entry) %> |
  <%= link_to "Back to store room entries", store_room_entries_path %>

  <%= button_to "Destroy this store room entry", @store_room_entry, method: :delete %>
</div>
