<%= form_with(model: store_room_exit) do |form| %>
  <% if store_room_exit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(store_room_exit.errors.count, "error") %> prohibited this store_room_exit from being saved:</h2>

      <ul>
        <% store_room_exit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if store_room_exit.persisted? %>
    <% entry = ReceiveDonationRequest.find(store_room_exit.from_receive_donation_request_id) %>
    <div class="row">
      <div class="col">
        <span class="text-muted">出庫日</span><br>
        <strong>
          <%= l(Time.current, format: :long) %>
        </strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="text-muted">団体名</span><br>
        <strong>
          <%= entry.name %>
        </strong>
      </div>
      <div class="col">
        <span class="text-muted">訪問者氏名</span><br>
        <strong>
          <%= entry.name %>
        </strong>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <span class="text-muted">使用目的</span><br>
        <strong>
          <%= entry.reason %>
        </strong>
      </div>
    </div>
    <hr>
  <% else %>
    <div class="row m-3">
      <div class="col">
        <%= form.label :name, '出庫受付カードをスキャンしてください', class: 'form-label display-6' %>
        <%= form.text_field :from_receive_donation_request_id, class: 'form-control', autofocus: true, autocomplete: 'off' %>
      </div>
    </div>

    <div class="d-grid gap-2 mt-1">
      <%= form.submit '出庫開始', class: 'btn btn-primary' %>
    </div>

  <% end %>
<% end %>

<% if store_room_exit.persisted? %>
  <%= form_with(model: FormAppendItem.new, url: store_room_exit_path(store_room_exit), method: :PATCH) do |form| %>
    <div class="row">
      <div class="col">
        <% if store_room_exit.store_room_exit_contents.count >= 50 %>
          <%= form.text_field :code, class: 'form-control', placeholder: '50を超えているので追加できません', disabled: true %>
        <% else %>
          <%= form.text_field :code, class: 'form-control', autofocus: true, placeholder: 'ここでバーコードをスキャンしてください' %>
        <% end %>
      </div>
    </div>
    <div class="row m-1">
      <div class="col">
        現在: <%= store_room_exit.store_room_exit_contents.count %> 個 / 50個
      </div>
    </div>
    <div class="d-grid gap-2 mt-1">
      <%= form.submit 'バーコードで追加', class: 'btn btn-primary' %>
    </div>


  <table class="table border-1 table-striped">
    <thead>
    <tr>
      <td>
        バーコード
      </td>
      <td>
        種別
      </td>
      <td>
        食品名
      </td>
      <td>
        重さ(kg)
      </td>
      <td>
        取消
      </td>
    </tr>
    </thead>
    <tbody>
    <% store_room_exit.store_room_exit_contents.order(id: :desc).each do |content| %>
      <tr>
        <td class="font-monospace">
          <% if content.is_drive %>
            <small><%= content.name %></small><br/>
            <small>(なし)</small>
          <% else %>
            <%= content.code %>
          <% end %>
        </td>
        <td><%= content.content_type %></td>
        <td><%= content.name %></td>
        <% if content.is_drive %>
          <td>-</td>
        <% else %>
          <td>
            <%= content.weight %>
          </td>
        <% end %>
        <td>
          <button class="btn btn-danger">x</button>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
    <%= form.submit 'この内容で出庫', class: 'btn btn-primary' %>
  <% end %>

<% end %>
