<div id="<%= dom_id receive_donation_request %>">
  <p>
    受付番号:
    <%= receive_donation_request.id %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= receive_donation_request.tel %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= receive_donation_request.name %>
  </p>

  <p>
    <strong>Scheduled time:</strong>
    <%= receive_donation_request.scheduled_time %>
  </p>

  <p>
    <strong>Accepted:</strong>
    <%= receive_donation_request.accepted %>
  </p>

</div>
