<div id="<%= dom_id donation_request %>">
  <p>
    <strong>Email:</strong>
    <%= donation_request.email %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= donation_request.company %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= donation_request.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= donation_request.address %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= donation_request.tel %>
  </p>

</div>
